
<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#/search">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/todos">Todos</a>
    </li>
  </ul>

  <div class="row">
    <div class="col">
      
      <router-outlet></router-outlet>

    </div>
  </div>
</div>





